.sectionHead {
  display: flex;
  flex-direction: column;
  gap: calc(40 / 16 * 1rem);
  margin-bottom: calc(40 / 16 * 1rem);

  @media (width >= 52.5em /* tablet */) {
    margin-bottom: calc(60 / 16 * 1rem);
  }
}

.description {
  line-height: 1.5;
  white-space: pre-wrap;
}

.body {
  margin: auto;
  @media (width >= 71.25em /* small */) {
    max-width: calc(940 / 16 * 1rem);
  }
  @media (width >= 80em /* base */) {
    max-width: calc(1080 / 16 * 1rem);
  }
}

.buttonWrapper {
  margin-top: calc(40 / 16 * 1rem);
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / -1;
  @media (width >= 52.5em /* tablet */) {
    margin-top: calc(60 / 16 * 1rem);
  }
}
