@use "../../../../styles" as *;

.sectionHead {
  display: flex;
  flex-direction: column;
  gap: calc(40 / 16 * 1rem);
  margin-bottom: calc(40 / 16 * 1rem);

  @include mq("small") {
    margin-bottom: calc(60 / 16 * 1rem);
  }
}
