.sectionHead {
  margin-bottom: calc(40 / 16 * 1rem);

  @media (width >= 71.25em /* small */) {
    margin-bottom: calc(60 / 16 * 1rem);
  }
}

.sectionFoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align:center;
  gap: calc(20 / 16 * 1rem);
  margin-top: calc(40 / 16 * 1rem);

  @media (width >= 33.75em /* mobile */) {
    margin-top: calc(80 / 16 * 1rem);
  }

  @media (width >= 71.25em /* small */) {
    margin-top: calc(60 / 16 * 1rem);
  }
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(20 / 16 * 1rem);

  @media (width >= 71.25em /* small */) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: calc(30 / 16 * 1rem);
  padding: calc(20 / 16 * 1rem);
  background-color: var(--color-light-gray);
  transition: all 0.3s;

  @media (width >= 33.75em /* mobile */) {
    flex-direction: row;
    padding: calc(30 / 16 * 1rem);
  }
}

.iconWrapper {
  width: calc(100 / 16 * 1rem);
  height: calc(100 / 16 * 1rem);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: calc(10 / 16 * 1rem);

  @media (width >= 33.75em /* mobile */) {
    justify-content: center;
  }
  @media (width >= 71.25em /* small */) {
    justify-content: start;
  }
}

.titleWrapper {
  display: flex;
  align-items: baseline;
  gap: calc(8 / 16 * 1rem);
}

.number {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
}

.title {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 700;
}

.description {
  line-height: 1.5;
}
