.mvSectionContainer {
  min-height: var(--min-height-mini);
  @media (width >= 33.75em /* mobile */) {
    min-height: var(--min-height-mobile);
  }
  @media (width >= 52.5em /* tablet */) {
    min-height: var(--min-height-tablet);
  }
  @media (width >= 71.25em /* small */) {
    min-height: var(--min-height-small);
  }
}

.mvContainer {
  width: 100%;
  margin-top: calc(63 / 16 * 1rem);
  margin-left: auto;
  margin-right: auto;
  padding-inline: 10%;

  @media (width >= 33.75em /* mobile */) {
    padding-left: calc(48 / 16 * 1rem);
    padding-right: calc(48 / 16 * 1rem);
  }

  @media (width >= 52.5em /* tablet */) {
    margin-top: calc(178 / 16 * 1rem);
    max-width: calc(800 / 16 * 1rem);
  }

  @media (width >= 71.25em /* small */) {
    align-self: center;
    margin-top: calc(1 / 16 * 1rem);
    max-width: calc(1000 / 16 * 1rem);
    padding-left: 0;
    padding-right: 0;
  }

  @media (width >= 80em /* base */) {
    margin-top: calc(4 / 16 * 1rem);
    max-width: calc(1200 / 16 * 1rem);
  }
}

.mvContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(20 / 16 * 1rem);

  @media (width >= 33.75em /* mobile */) {
    gap: calc(26 / 16 * 1rem);
    margin-bottom: 9%;
  }

  @media (width >= 52.5em /* tablet */) {
    gap: calc(20 / 16 * 1rem);
    flex-direction: row;
    margin-bottom: 0;
  }

  @media (width >= 71.25em /* small */) {
    gap: calc(40 / 16 * 1rem);
  }
}

.mainCopyText {
  color: var(--color-white);
  font-weight: 900;
  line-height: normal;
  font-size: calc(28 / 16 * 1rem);
  letter-spacing: 0.05em;

  @media (width >= 33.75em /* mobile */) {
    font-size: calc(32 / 16 * 1rem);
    line-height: 1.7;
  }

  @media (width >= 52.5em /* tablet */) {
    font-size: calc(45 / 16 * 1rem);
  }

  @media (width >= 71.25em /* small */) {
    font-size: calc(60 / 16 * 1rem);
  }

  @media (width >= 80em /* base */) {
    font-size: calc(70 / 16 * 1rem);
  }
}

.subCopyText {
  color: var(--color-white);
  letter-spacing: 0.1em;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.5;

  @media (width >= 71.25em /* small */) {
    font-size: calc(17 / 16 * 1rem);
  }

  @media (width >= 80em /* base */) {
    font-size: calc(20 / 16 * 1rem);
  }
}

.scrollIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(20 / 16 * 1rem);
  /*
   * 物理配置の補正:
   * インジケーターの「右端」を親の指定位置に合わせるため、
   * 自身の幅分（18px）を右方向にオフセットします。
   */
  transform: translateX(calc(14 / 16 * 1rem));

  position: absolute;
  bottom: 0;
  right: 7%;

  @media (width >= 33.75em /* mobile */) {
    right: 5%;
  }

  @media (width >= 52.5em /* tablet */) {
    right: 4.5%;
  }

  @media (width >= 71.25em /* small */) {
    right: -1.3%;
    transform: translateX(calc(16 / 16 * 1rem));
  }

  @media (width >= 80em /* base */) {
    right: 1.5%;
  }

  @media (width >= 120em /* large */) {
    right: 1.3%;
  }
}

.scrollText {
  font-size: calc(14 / 16 * 1rem);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  color: var(--color-white);
  @media (width >= 71.25em /* small */) {
    font-size: calc(16 / 16 * 1rem);
  }
}

.dropLineTrack {
  width: calc(1 / 16 * 1rem);
  background-color: var(--color-dark-gray);
  position: relative;
  overflow: hidden;
  height: calc(60 / 16 * 1rem);

  @media (width >= 33.75em /* mobile */) {
    height: calc(80 / 16 * 1rem);
  }

  @media (width >= 71.25em /* small */) {
    height: calc(100 / 16 * 1rem);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    animation: scroll 2.8s ease-out infinite;
  }
}

/* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: left top;
  }
  69% {
    transform: scale(1, 1);
    transform-origin: left top;
  }
  70% {
    transform: scale(1, 1);
    transform-origin: left bottom;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: left bottom;
  }
}
