.card {
  background-color: var(--color-white);
  padding: calc(20 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  @media (width >= 52.5em /* tablet */) {
    padding: calc(24 / 16 * 1rem) calc(20 / 16 * 1rem);
  }

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(8 / 16 * 1rem);
  border-bottom: 1px solid var(--color-medium-gray);
}

.name {
  font-size: calc(16 / 16 * 1rem);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  color: var(--color-black);
  @media (width >= 52.5em /* tablet */) {
    font-size: calc(18 / 16 * 1rem);
  }
}

.tag {
  font-size: calc(14 / 16 * 1rem);
  letter-spacing: 0.05em;
  line-height: 1;
  padding: calc(4 / 16 * 1rem) calc(8 / 16 * 1rem);
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  border-radius: calc(4 / 16 * 1rem);
  border: 1px solid var(--color-dark-gray);
  min-width: max-content;
}

.content {
  padding-top: calc(14 / 16 * 1rem);
}

.description {
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-black);
  margin: 0 0 calc(14 / 16 * 1rem) 0;
  padding: 0;
  word-break: break-all;
  white-space: pre-wrap;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
}

.description.isExpanded {
  -webkit-line-clamp: 999;
  line-clamp: 999;
  max-height: 1000px;
  transition: max-height 1.8s ease-out;
}

.toggleBtn {
  display: block;
  margin-left: auto;
  font-size: calc(14 / 16 * 1rem);
  color: var(--color-black);
  padding-bottom: calc(2 / 16 * 1rem);
  margin-bottom: calc(14 / 16 * 1rem);
  border-bottom: 1px solid var(--color-black);
  @media (width >= 52.5em /* tablet */) {
    cursor: pointer;
    &:hover {
      opacity: var(--opacity-hover);
    }
  }
}

.footer {
  margin-top: auto;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: calc(10 / 16 * 1rem);
}
