@use "../../../../styles" as *;

.sectionHead {
  display: flex;
  flex-direction: column;
  gap: calc(24 / 16 * 1rem);
  margin-bottom: calc(60 / 16 * 1rem);
}

.description {
  line-height: 1.5;
}

.cardGrid {
  display: grid;
  gap: calc(20 / 16 * 1rem);
  justify-content: center;
  align-items: stretch;

  // 1カラム時の定義
  grid-template-columns: 1fr;

  @include mq("tablet") {
    // 3カラム時の定義
    // 各列を最大350pxで固定し、3つ並べる
    grid-template-columns: repeat(3, minmax(0, calc(350 / 16 * 1rem)));
  }
}

.card {
  width: 100%;
  padding-top: calc(20 / 16 * 1rem);
  padding-inline: calc(24 / 16 * 1rem);
  padding-bottom: calc(32 / 16 * 1rem);
  background-color: var(--color-white);
  border-radius: calc(8 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardTitle {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 700;
  margin-bottom: calc(20 / 16 * 1rem);
  padding-bottom: calc(16 / 16 * 1rem);
  border-bottom: 1px solid var(--color-medium-gray);
  text-align: center;
}

.skillItem {
  margin-bottom: calc(23 / 16 * 1rem);
  &:last-child {
    margin-bottom: 0;
  }
}

.skillInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(6 / 16 * 1rem);
  gap: 1em;
}

.skillName {
  font-size: calc(14 / 16 * 1rem);
  letter-spacing: 0.1em;
}

.skillLevel {
  font-size: calc(14 / 16 * 1rem);
  letter-spacing: 0.1em;
  font-variant-numeric: tabular-nums; // 数値の幅を固定してガタつきを防止
}

.gaugeTrack {
  width: 100%;
  height: calc(6 / 16 * 1rem);
  background-color: var(--color-light-gray);
  position: relative;
  overflow: hidden;
}

.gaugeBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-black);
  width: 0%; // 初期状態
}

.buttonWrapper {
  margin-top: calc(20 / 16 * 1rem);
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / -1;
}
