@use "../../../styles/" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 / 16 * 1rem);
  margin-top: calc(60 / 16 * 1rem);
}

.pageList {
  display: flex;
  align-items: center;
  gap: calc(10 / 16 * 1rem);
}

.pageButton,
.arrowButton,
.more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(40 / 16 * 1rem);
  min-height: calc(40 / 16 * 1rem);
  padding: calc(9 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-gray);
  color: var(--color-dark-gray);
  outline: none;
}

.pageButton,
.arrowButton {
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    border-color: var(--color-white);
    background-color: var(--color-dark-gray);
    color: var(--color-white);

    // アイコン（SVG）に対して、親のホバー時の文字色を強制的に適用させる
    // アイコンコンポーネントが持つ Tailwind クラスよりも高い詳細度で上書きします
    svg {
      color: inherit; // または直接 var(--color-white)
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.pageButton {
  font-size: calc(14 / 16 * 1rem);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  &.isCurrent {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);
    cursor: default;
  }
}

.iconLeft {
  transform: scaleX(-1); // KeyboardArrowRightを反転させて左アローにする
}

.more {
  cursor: default;
}
