// src/components/ui/SearchBox/SearchBox.module.scss
@use "../../../styles" as *;

.container {
  position: relative;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
  border-radius: calc(8 / 16 * 1rem);
  border: 1px solid var(--color-dark-gray);
  background: var(--color-white);
  overflow: hidden;
}

.iconWrapper {
  position: absolute;
  width: calc(44 / 16 * 1rem);
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
  background-color: var(--color-light-gray)
}

.input {
  width: 100%;
  // 左はアイコン分、右はクリアボタン分の余白を確保
  padding: calc(10 / 16 * 1rem) calc(40 / 16 * 1rem) calc(10 / 16 * 1rem) calc(60 / 16 * 1rem);
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.05em;
  transition: all 0.3s;

  @include mq("small") {
    padding-top: calc(12 / 16 * 1rem);
    padding-bottom: calc(12 / 16 * 1rem);
  }

  &::placeholder {
    color: var(--color-neutral-400);
  }

  &:focus {
    outline: none;
    border-color: var(--color-blue-500);
    background-color: var(--color-white);
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.05); // focus:ring-blue-500/5 相当
  }
}

.clearButton {
  position: absolute;
  right: calc(8 / 16 * 1rem);
  top: 50%;
  transform: translateY(-50%);
  width: calc(28 / 16 * 1rem);
  height: calc(28 / 16 * 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-slate-400);
  font-size: calc(18 / 16 * 1rem);
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--color-slate-600);
    background-color: var(--color-slate-100);
  }
}