@use "../../../../styles" as *;

.sectionHead {
  display: flex;
  flex-direction: column;
  gap: calc(40 / 16 * 1rem);
  margin-bottom: calc(60 / 16 * 1rem);
}

.description {
  line-height: 1.5;
}
