.container {
  position: relative;
  width: 100%;
  height: calc(300 / 16 * 1rem);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  z-index: 0;
  :global(img) {
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.text {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  font-weight: 700;
  font-size: calc(18 / 16 * 1rem);
}
