// src/app/works/Works.module.scss
@use "../../styles/" as *;

.pageDescription {
  margin-top: calc(10 / 16 * 1rem);
}

.cards {
  margin-top: calc(40 / 16 * 1rem);
  display: grid;
  justify-content: center;
  gap: calc(40 / 16 * 1rem) calc(20 / 16 * 1rem);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @include mq(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include mq(default) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: calc(50 / 16 * 1rem);
  }
}

.card {
  max-width: 100%;
  @include mq("default") {
    max-width: calc(280 / 16 * 1rem);
  }
}

.paginationWrapper {
  margin-top: calc(60 / 16 * 1rem);
}
